/*Reservia css style*/
@font-face 
{
/* To do */
}

body
{
    display: flex;
    width: 99%;
    font-size: 0,15%;
}
h1
{
    font-size : 25px;
}

header
{
    width: 99%;
    position: relative;
    color: #0065FC;
}

#ancres
{
    position: absolute;
    right: 1%;
    top: 10%;
}
body, #searchbar, #hebergements, #populaires, #activites
{
    border: 2px dashed rgb(112, 92, 104);
}
section
{
    background-color: rgba(255, 127, 202, 0.603);
}

#hebergements
{
    background-color: #F2F2F2;
}

#populaires
{
    background-color: #F2F2F2;
}

footer
{
    background-color: #F2F2F2;
}
/* Fin du to delete */